MAINNET_RPC=https://eth-mainnet.alchemyapi.io/v2/xxx
RINKEBY_RPC=https://eth-rinkeby.alchemyapi.io/v2/xxxxxxxx
ROPSTEN_RPC=https://eth-ropsten.alchemyapi.io/v2/xxxx
PRIVATE_KEY_ROPSTEN="0x123..."
PRIVATE_KEY_RINKEBY="0x123..."
PRIVATE_KEY_MAINNET="0x123..."
ETHERSCAN_KEY="xxxxx"
COINMARKETCAP_API="xxxxx"
